
//
// @extend
// ------------------------------------

%absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

%absolute-middle {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint(mobile) {
        width: 100%;
    }
}
%absolute-bottom {
    position: absolute;
    bottom: 0;
    margin: auto;
}


%after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 13px;
}


%absolute-all-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

%popup{
    @extend %absolute-center;
    top: 80px;
    max-width: 600px;
    width: 100%;
}

%background-cover-image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center center;
}

%button-primary{
    background: $primaryColor;
    border: 1px solid $primaryColor;
    color: $secondaryColor;
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
    font-size: 16px;
    border-radius: 9999px;
}


