.night-trip{
  &__button{
    @extend %button-primary;
    padding: 14px 30px;
    min-width: 125px;
    position: relative;


    &--block{
      color: #021727;
    }
    &--with-stoke{
      transition: all 10s cubic-bezier(0.890, -0.170, 0.140, 1.225);
      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #FFFFFF;
        border-radius: 16px;
        right: -16px;
        top: 50%;
      }
      &:hover:after{
        right: -10px;
        width: 35px;
      }
    }
  }
}

.menu__button{
  margin-left: 20px;

  @include breakpoint(mobile){
    &:after{
      display: none;
    }
  }
}

.offer__button{
  font-size: 14px !important;
  padding: 18px 38px !important
}
