
.night-trip {
  &__title-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    @extend %absolute-middle;

    h1 {
      font-size: 120px;
      line-height: 153px;

      @include breakpoint(portrait-bettween-1200-1024) {
        font-size: 100px;
        line-height: unset
      }
      @include breakpoint(tablet-large) {
        font-size: 50px;
        line-height: unset
      }
    }

    h1, h2 {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 17px;
      margin-top: 30px;
      line-height: 1.6;
    }
  }
}


.night-trip {
  &__pick-section {
    background-color: #011627;
    padding: 3rem 0;
    position: relative;

    h3 {
      font-size: 72px;
      margin-right: 20px;

      @include breakpoint(mobile) {
        font-size: 40px;
        margin: 0 0 20px;
      }
      @include breakpoint(tablet-large) {
        font-size: 35px;
      }
    }

    p.trip-pick-text {
      font-size: 16px;
      margin: 0 20px 0 30px;
      max-width: 365px;
      line-height: 1.6;
      @include breakpoint(mobile) {
        max-width: 350px;
        text-align: center;
        margin: 15px auto;
      }
    }

    h3, p {
      color: #fff;
    }
  }
}

.pick-trip__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #41ead466;

  margin-bottom: 80px;

  @include breakpoint(mobile) {
    margin-bottom: 0;

    -webkit-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    overflow: auto !important;
    scroll-snap-type: x mandatory !important;
  }

  li {
    font-size: 16px;
    text-align: center;
    color: $white;
    opacity: 0.5;
    position: relative;
    padding: 20px 20px 35px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    @include breakpoint(mobile) {
      min-width: 170px
    }

    &.active {

      font-size: 17px;
      color: $primaryColor;
      opacity: 1;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #41EAD4;
        border-radius: 13px;
        position: absolute;
        bottom: -1px;
        left: 0;
      }
    }
  }
}

.pick-trip__content {
  margin: 30px 0;
  padding: 15px 0;
  display: flex;

  position: relative;

  @include breakpoint(mobile) {
    flex-direction: column-reverse
  }

  h4, p {
    color: $white;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      margin-bottom: 30px;
    }
  }

  h4 {
    font-size: 65px;
    line-height: 1;

    @include breakpoint(tablet-large) {
      font-size: 48px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }

  svg.dots {
    position: absolute;
    bottom: -39px;
    left: -52px;

    @include breakpoint(mobile) {
      display: none
    }
  }

  .trip {
    &_text {
      flex: 48%;
      max-width: 48%;
      position: relative;

      @include breakpoint(mobile) {
        flex: 100%;
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        margin-bottom: 20px
      }
    }

    &_images {
      z-index: 99;

      position: relative;

      @include breakpoint(mobile) {
        max-width: 440px;
        margin: auto;
      }

      .trip_img {
        margin-right: 100px;
        min-width: 430px;
        min-height: 520px;
        background-color: #021727;
        border-radius: 9px;

        position: relative;
        @include breakpoint(tablet-large) {
          min-width: unset;
          min-height: unset;

          max-width: 260px;

          margin-right: 50px;
        }
        @include breakpoint(mobile) {
          min-width: 350px;
          min-height: 100%;
          max-width: 350px;
          margin: auto;
          display: block;
          overflow: hidden;
        }

        img {
          border-radius: 9px;
          width: 100%;
          height: 100%;
        }

        &_arrow {
          width: 65px;
          height: 65px;
          background: #011627;
          box-shadow: -10px 14px 24px rgba(1, 22, 39, 0.08);
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          bottom: 0;
          z-index: 999;

          @include breakpoint(tablet-large) {
            width: 45px;
            height: 45px;
          }
          @include breakpoint(mobile) {
            width: 55px;
            height: 55px;
          }

          &--right {
            right: 65px;
            border-top-left-radius: 12px;
            border-right: 2px solid #13314982;
            @include breakpoint(tablet-large) {
              right: 45px;
            }
            @include breakpoint(mobile) {
              right: 55px;
            }
          }

          &--left {
            right: 0

          }
        }
      }

      .trip_img-title {
        position: absolute;
        top: 40%;
        left: -3%;

        @include breakpoint(desktop-small) {
          left: -18%;
        }
        @include breakpoint(mobile) {
          left: -10%;
        }

      }

      .trip_num {
        font-size: 24px;
        color: #41EAD4;
        margin-bottom: 15px;

        position: relative;

        &:after, &:before {
          @extend %after;
          top: -20px;
          background: #41EAD4;
        }

        &:after {
          width: 2px;
          height: 16px;
          left: 4px;
        }

        &:before {
          width: 115px;
          height: 2px;
          left: 4px;
        }
      }

      .trip_title-text {

        font-size: 24px;
        line-height: 150%;
        letter-spacing: 2px;

        max-width: 300px;
        color: $white;
        font-weight: 600;
      }
    }
  }
}

.sidebar {
  height: 100vh;
  width: 370px;
  border-radius: 4px;

  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.25);
  background: #011626;
  opacity: .8;

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999999;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  @include breakpoint(mobile) {
    opacity: 1;
    width: 68%;
  }

  .night-trip__button {
    margin-bottom: 20px;
    text-align: center;
    min-width: 70%;
  }

  &__item {
    width: 75%;
    margin: 10px auto 0;
    text-align: center;

    padding: 15px 0;

    text-transform: uppercase;

    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;

    color: #666666;
    font-weight: bold;
    letter-spacing: 1px;


    &:first-child {
      margin-top: 0;
    }
  }
}

#svg1{
  top: 0;
  left: 0;
}
#svg1, #svg2, #svg3 {
  position: absolute;
  height: 100%;
}

#svg3{
  right: 0;
  bottom: 0;
}

#svg2{
  top: 0;
  right: 0;
}

.slick-slider.slick-initialized {
  width: 425px;

  @include breakpoint(tablet-large) {
    width: 100%;
  }
}
