//
// Header
// --------------------------------------------------

header {

  .night-trip{
    &__banner--bg-image{
      @extend %background-cover-image;
      color: $white;
      height: 80vh;

      @include breakpoint(mobile){
        height: 100vh;
      }
    }
  }

  .logo {
    width: 295px;
    height: 60px;
    background-size: 100% auto;
    float: left;
    display: block;
  }

  .nav {
    float: right;
    font-size: 14.62px;
    margin-top: 13px;
    width: auto;

    a {
      display: inline-block;
      float: right;
    }

  }

  .bottom {
    clear: both;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 30px;
    float: left;
  }

}
