@font-face {
  font-family: 'Larsseit';
  src: local("Larsseit Light"), local("Larsseit-Light"), url("./fonts/Larsseit/Larsseit-Light.woff2") format("woff2"), url("./fonts/Larsseit/Larsseit-Light.woff") format("woff"), url("./fonts/Larsseit/Larsseit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Larsseit';
  src: local("Larsseit Bold"), local("Larsseit-Bold"), url("./fonts/Larsseit/Larsseit-Bold.woff2") format("woff2"), url("./fonts/Larsseit/Larsseit-Bold.woff") format("woff"), url("./fonts/Larsseit/Larsseit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Noe Display Medium";
  src: url("./fonts/Noe-Display/2a6c168c7d603dbbce4a785ed6a1f536.eot");
  /* IE9*/
  src: url("./fonts/Noe-Display/2a6c168c7d603dbbce4a785ed6a1f536.eot?#iefix") format("embedded-opentype"), url("./fonts/Noe-Display/2a6c168c7d603dbbce4a785ed6a1f536.woff2") format("woff2"), url("./fonts/Noe-Display/2a6c168c7d603dbbce4a785ed6a1f536.woff") format("woff"), url("./fonts/Noe-Display/2a6c168c7d603dbbce4a785ed6a1f536.ttf") format("truetype");
  /* chrome firefox opera Safari, Android, iOS 4.2+*/
  font-display: swap; }

#overlay {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }

.night-trip__title {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 670px) {
    .night-trip__title {
      width: 100%; } }

.night-trip__social, .night-trip__scroll, .trip_text__social {
  position: absolute;
  bottom: 0;
  margin: auto; }

.night-trip__scroll > span:after, .trip_text__social .social__share-icons:after, .trip_text__social .social__share-icons:before, .pick-trip__content .trip_images .trip_num:after, .pick-trip__content .trip_images .trip_num:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 13px; }

header .night-trip__banner--bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center center; }

.night-trip__button {
  background: #00C9E0;
  border: 1px solid #00C9E0;
  color: #011626;
  box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
  font-size: 16px;
  border-radius: 9999px; }

.night-trip__button {
  padding: 14px 30px;
  min-width: 125px;
  position: relative; }
  .night-trip__button--block {
    color: #021727; }
  .night-trip__button--with-stoke {
    transition: all 10s cubic-bezier(0.89, -0.17, 0.14, 1.225); }
    .night-trip__button--with-stoke:after {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #FFFFFF;
      border-radius: 16px;
      right: -16px;
      top: 50%; }
    .night-trip__button--with-stoke:hover:after {
      right: -10px;
      width: 35px; }

.menu__button {
  margin-left: 20px; }
  @media (max-width: 670px) {
    .menu__button:after {
      display: none; } }

.offer__button {
  font-size: 14px !important;
  padding: 18px 38px !important; }

html {
  font-size: 10px; }
  @media (max-width: 1134px) {
    html {
      font-size: 9px; } }
  @media (max-width: 1008px) {
    html {
      font-size: 8px; } }
  @media (max-width: 882px) {
    html {
      font-size: 7px; } }
  @media (max-width: 756px) {
    html {
      font-size: 6px; } }
  @media (max-width: 640px) {
    html {
      font-size: 5px; } }
  @media (max-width: 480px) {
    html {
      font-size: 4px; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

*, ::after, ::before {
  box-sizing: border-box; }

a, div, img, button {
  -moz-user-select: none;
  -webkit-user-select: none; }

a {
  cursor: pointer;
  text-decoration: none; }

input, textarea, select, button, p, div, img, a {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none; }

strong, b {
  font-weight: normal; }

hr {
  padding: 0;
  margin: 0;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noe Display Bold";
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.hide {
  display: none; }

button {
  border: 0;
  cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Larsseit", Gill Sans, Times, TimesNewRoman, "Times New Roman", Baskerville, Georgia, serif;
  -webkit-text-size-adjust: none;
  position: relative;
  color: #2a2a2a; }

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  opacity: 0.8;
  display: none; }

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden; }

.container {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .container--flex {
    display: flex;
    align-items: center; }
    @media (max-width: 670px) {
      .container--flex {
        flex-direction: column; } }
  .container--flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .container--flex--column {
    flex-direction: column; }

.main {
  width: 100%;
  float: left; }

.page {
  min-height: calc(100vh - 194px - 346px); }

.show-mobile {
  display: none !important; }

@media (max-width: 670px) {
  .show-mobile {
    display: block !important; }
  .show-desktop {
    display: none !important; } }

.bg-gradient {
  background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 40.64%, #011627 100%);
  margin-top: -45px;
  height: 100px; }

header .night-trip__banner--bg-image {
  color: #fff;
  height: 80vh; }
  @media (max-width: 670px) {
    header .night-trip__banner--bg-image {
      height: 100vh; } }

header .logo {
  width: 295px;
  height: 60px;
  background-size: 100% auto;
  float: left;
  display: block; }

header .nav {
  float: right;
  font-size: 14.62px;
  margin-top: 13px;
  width: auto; }
  header .nav a {
    display: inline-block;
    float: right; }

header .bottom {
  clear: both;
  width: 100%;
  margin-top: 27px;
  margin-bottom: 30px;
  float: left; }

nav {
  width: 100%;
  padding: 45px 0; }
  @media (max-width: 670px) {
    nav {
      padding: 35px 0; } }
  nav .night-trip__logo {
    font-size: 36px;
    color: #fff;
    position: relative;
    font-family: "Noe Display Bold"; }
    nav .night-trip__logo:after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #00C9E0;
      display: block;
      position: absolute;
      bottom: 9px;
      right: -8px;
      border-radius: 50%; }
  nav .night-trip__menu {
    display: flex;
    align-items: center; }

.night-trip__social {
  display: flex;
  flex-direction: column;
  right: 0; }
  .night-trip__social svg {
    margin-bottom: 15px;
    cursor: pointer; }

.night-trip__scroll {
  left: 0;
  bottom: 64px;
  margin-left: -75px; }
  @media (max-width: 670px) {
    .night-trip__scroll {
      display: none; } }
  .night-trip__scroll > span {
    font-size: 15px;
    letter-spacing: 3px;
    color: #fff;
    opacity: 0.9;
    transform: rotate(-90deg);
    position: relative;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .night-trip__scroll > span:after {
      background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
      width: 2px;
      height: 80px;
      border-radius: 13px;
      transform: rotate(90deg);
      left: 46px; }

.trip_text__social {
  right: 0; }
  @media (max-width: 670px) {
    .trip_text__social {
      display: none; } }
  .trip_text__social .social__share-text {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 10px;
    justify-content: flex-start; }
  .trip_text__social .social__share-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .trip_text__social .social__share-icons:after, .trip_text__social .social__share-icons:before {
      bottom: -14px;
      background: #41EAD4; }
    .trip_text__social .social__share-icons:after {
      width: 115px;
      height: 2px;
      left: 4px; }
    .trip_text__social .social__share-icons:before {
      width: 2px;
      height: 31px;
      right: -15px; }
    .trip_text__social .social__share-icons svg {
      margin-right: 20px;
      cursor: pointer; }
      .trip_text__social .social__share-icons svg:last-child {
        margin: 0; }

.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block; }

.slick-loading .slick-slide, .slick-loading .slick-track {
  visibility: hidden; }

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  top: 0;
  left: 0; }

.slick-track:after, .slick-track:before {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir=rtl] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=slick.min.css.map */
.night-trip__title-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.night-trip__title h1 {
  font-size: 120px;
  line-height: 153px; }
  @media (max-width: 1200px) and (min-width: 1024px) {
    .night-trip__title h1 {
      font-size: 100px;
      line-height: unset; } }
  @media (max-width: 1400px) {
    .night-trip__title h1 {
      font-size: 50px;
      line-height: unset; } }

.night-trip__title h1, .night-trip__title h2 {
  margin-bottom: 20px; }

.night-trip__title h2 {
  font-size: 18px; }

.night-trip__title p {
  font-size: 17px;
  margin-top: 30px;
  line-height: 1.6; }

.night-trip__pick-section {
  background-color: #011627;
  padding: 3rem 0;
  position: relative; }
  .night-trip__pick-section h3 {
    font-size: 72px;
    margin-right: 20px; }
    @media (max-width: 670px) {
      .night-trip__pick-section h3 {
        font-size: 40px;
        margin: 0 0 20px; } }
    @media (max-width: 1400px) {
      .night-trip__pick-section h3 {
        font-size: 35px; } }
  .night-trip__pick-section p.trip-pick-text {
    font-size: 16px;
    margin: 0 20px 0 30px;
    max-width: 365px;
    line-height: 1.6; }
    @media (max-width: 670px) {
      .night-trip__pick-section p.trip-pick-text {
        max-width: 350px;
        text-align: center;
        margin: 15px auto; } }
  .night-trip__pick-section h3, .night-trip__pick-section p {
    color: #fff; }

.pick-trip__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #41ead466;
  margin-bottom: 80px; }
  @media (max-width: 670px) {
    .pick-trip__list {
      margin-bottom: 0;
      -webkit-box-align: center !important;
      display: flex !important;
      align-items: center !important;
      overflow: auto !important;
      scroll-snap-type: x mandatory !important; } }
  .pick-trip__list li {
    font-size: 16px;
    text-align: center;
    color: #fff;
    opacity: 0.5;
    position: relative;
    padding: 20px 20px 35px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out; }
    @media (max-width: 670px) {
      .pick-trip__list li {
        min-width: 170px; } }
    .pick-trip__list li.active {
      font-size: 17px;
      color: #00C9E0;
      opacity: 1; }
      .pick-trip__list li.active:after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #41EAD4;
        border-radius: 13px;
        position: absolute;
        bottom: -1px;
        left: 0; }

.pick-trip__content {
  margin: 30px 0;
  padding: 15px 0;
  display: flex;
  position: relative; }
  @media (max-width: 670px) {
    .pick-trip__content {
      flex-direction: column-reverse; } }
  .pick-trip__content h4, .pick-trip__content p {
    color: #fff;
    margin-bottom: 40px; }
    @media (max-width: 670px) {
      .pick-trip__content h4, .pick-trip__content p {
        margin-bottom: 30px; } }
  .pick-trip__content h4 {
    font-size: 65px;
    line-height: 1; }
    @media (max-width: 1400px) {
      .pick-trip__content h4 {
        font-size: 48px; } }
  .pick-trip__content p {
    font-size: 18px;
    line-height: 1.6; }
  .pick-trip__content svg.dots {
    position: absolute;
    bottom: -39px;
    left: -52px; }
    @media (max-width: 670px) {
      .pick-trip__content svg.dots {
        display: none; } }
  .pick-trip__content .trip_text {
    flex: 48%;
    max-width: 48%;
    position: relative; }
    @media (max-width: 670px) {
      .pick-trip__content .trip_text {
        flex: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px; } }
  .pick-trip__content .trip_images {
    z-index: 99;
    position: relative; }
    @media (max-width: 670px) {
      .pick-trip__content .trip_images {
        max-width: 440px;
        margin: auto; } }
    .pick-trip__content .trip_images .trip_img {
      margin-right: 100px;
      min-width: 430px;
      min-height: 520px;
      background-color: #021727;
      border-radius: 9px;
      position: relative; }
      @media (max-width: 1400px) {
        .pick-trip__content .trip_images .trip_img {
          min-width: unset;
          min-height: unset;
          max-width: 260px;
          margin-right: 50px; } }
      @media (max-width: 670px) {
        .pick-trip__content .trip_images .trip_img {
          min-width: 350px;
          min-height: 100%;
          max-width: 350px;
          margin: auto;
          display: block;
          overflow: hidden; } }
      .pick-trip__content .trip_images .trip_img img {
        border-radius: 9px;
        width: 100%;
        height: 100%; }
      .pick-trip__content .trip_images .trip_img_arrow {
        width: 65px;
        height: 65px;
        background: #011627;
        box-shadow: -10px 14px 24px rgba(1, 22, 39, 0.08);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        bottom: 0;
        z-index: 999; }
        @media (max-width: 1400px) {
          .pick-trip__content .trip_images .trip_img_arrow {
            width: 45px;
            height: 45px; } }
        @media (max-width: 670px) {
          .pick-trip__content .trip_images .trip_img_arrow {
            width: 55px;
            height: 55px; } }
        .pick-trip__content .trip_images .trip_img_arrow--right {
          right: 65px;
          border-top-left-radius: 12px;
          border-right: 2px solid #13314982; }
          @media (max-width: 1400px) {
            .pick-trip__content .trip_images .trip_img_arrow--right {
              right: 45px; } }
          @media (max-width: 670px) {
            .pick-trip__content .trip_images .trip_img_arrow--right {
              right: 55px; } }
        .pick-trip__content .trip_images .trip_img_arrow--left {
          right: 0; }
    .pick-trip__content .trip_images .trip_img-title {
      position: absolute;
      top: 25px;
      left: -3%; }
      @media (min-width: 1024px) {
        .pick-trip__content .trip_images .trip_img-title {
          left: -18%;
          top: 40%; } }
      @media (max-width: 670px) {
        .pick-trip__content .trip_images .trip_img-title {
          left: 0; } }
    .pick-trip__content .trip_images .trip_num {
      font-size: 24px;
      color: #41EAD4;
      margin-bottom: 15px;
      position: relative; }
      .pick-trip__content .trip_images .trip_num:after, .pick-trip__content .trip_images .trip_num:before {
        top: -20px;
        background: #41EAD4; }
      .pick-trip__content .trip_images .trip_num:after {
        width: 2px;
        height: 16px;
        left: 4px; }
      .pick-trip__content .trip_images .trip_num:before {
        width: 115px;
        height: 2px;
        left: 4px; }
    .pick-trip__content .trip_images .trip_title-text {
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 2px;
      max-width: 300px;
      color: #fff;
      font-weight: 600; }

.sidebar {
  height: 100vh;
  width: 370px;
  border-radius: 4px;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.25);
  background: #011626;
  opacity: .8;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }
  @media (max-width: 670px) {
    .sidebar {
      opacity: 1;
      width: 68%; } }
  .sidebar .night-trip__button {
    margin-bottom: 20px;
    text-align: center;
    min-width: 70%; }
  .sidebar__item {
    width: 75%;
    margin: 10px auto 0;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    color: #666666;
    font-weight: bold;
    letter-spacing: 1px; }
    .sidebar__item:first-child {
      margin-top: 0; }

#svg1 {
  top: 0;
  left: 0; }

#svg1, #svg2, #svg3 {
  position: absolute;
  height: 100%; }

#svg3 {
  right: 0;
  bottom: 0; }

#svg2 {
  top: 0;
  right: 0; }

.slick-slider.slick-initialized {
  width: 425px; }
  @media (max-width: 1400px) {
    .slick-slider.slick-initialized {
      width: 100%; } }
